body {
  font-family: Calibri, Helvetica;
}

p {
  font-family: Calibri, Helvetica;
}

h1, h2 {
  font-family: 'Courier New'; 
  color: red;
}

img {
  width: 600px;
  height: auto;
}

a:link {
  color:red
}

a:visited {
  color:green;
}

input[type=submit]:hover {
  color:red;
}

input[type=submit]:active {
  color:green;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-roman;
}

tr:nth-child(even) {
  background-color: lightgray;
}
tr:hover {
  background-color: lightblue;
}
